.price {
   background: $secondary-color;
   padding-top: 120px;
   padding-bottom: 285px;

   @media (max-width: $md) {
      padding-top: 60px;
   }
}

.price-items {
   padding-top: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media (max-width: $md) {
      flex-wrap: wrap;
   }

   @media (max-width: $sm) {
      flex-direction: column;
   }
}

.price-item {
   flex: 1 1 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: 17px;

   @media (min-width: $md) {
      &:not(:last-child) {
         margin-right: 20px;
      }
   }

   @media (max-width: $md) {
      flex: 0 1 50%;

      &:nth-child(odd) {
         padding-right: 10px;
      }

      &:nth-child(even) {
         padding-left: 10px;
      }
   }

   @media (max-width: $sm) {
      flex: 0 0 100%;
      padding: 0px !important;
   }

   &_img {
      & img {
         display: block;
         width: 100%;
      }
   }

   &_title {
      margin-top: 20px;
      font-family: 'Fira Sans';
      font-weight: 500;
      font-size: 30px;
      line-height: 133%;
      color: $font-secondary-color;
   }

   &_services {
      margin-top: 10px;
   }
}

.price-item-services {
   padding-left: 0;
   margin-bottom: 0;
   padding-right: 14px;
   border-right: 1px solid #B7AAA2;

   & li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   &_title {
      flex: 1 1 60%;
      font-family: 'Fira Sans';
      font-weight: 400;
      font-size: 16px;
      line-height: 173%;
      color: $font-secondary-color;

      @media (max-width: $lg) {
         line-height: 125%;
      }

      @media (max-width: $sm) {
         line-height: 173%;
      }
   }

   &_right {
      display: flex;
      margin-left: 15px;

      @media (max-width: $lg) {
         flex-direction: column-reverse;
         align-items: center;
         justify-content: center;
      }

      @media (max-width: $sm) {
         flex-direction: row;

      }
   }

   &_time {
      flex: 0 0 auto;
      margin-right: 9px;
      font-family: 'Fira Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 175%;
      text-align: right;
      color: #B7AAA2;

      @media (max-width: $lg) {
         line-height: 130%;
         margin-right: 0;
      }

      @media (max-width: $sm) {
         line-height: 175%;
         margin-right: 9px;
      }
   }

   &_price {
      font-family: 'Fira Sans';
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: $font-primary-color;

      @media (max-width: $lg) {
         line-height: 120%;
      }
   }
}