// Colors
$primary-color: #3C322D;
$secondary-color: #251D1A;
$third-color: #FF6E40;
$font-primary-color: #fff;
$font-secondary-color: #EFE7E2;

//Media breakpoints
$lg: 992px;
$md: 768px;
$sm: 576px;